.Container{
    display: flex;
    justify-content: space-between;
    gap:10px;
    min-width: 90vw;
    height: 90%;
    border: 1px solid red;
}
.Card{
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid green;
    width: 25%;
    height: 80vh;
}
.Expanded{
    flex:3;
}